
{% extends 'core/base.html' %}

{%block title%}Clients{%endblock%}

{% block content %}
    <div class="py-4 px-6">
        <h1 class="mb-4 text-xl">Клиенты</h1>
        
        <a href="{% url 'clients_add' %}" class=" inline-block py-3 px-6 bg-gray-700 rounded-xl text-white">Добавить клиента</a>

        {% if clients %}
            <div class="mt-6 flex just-between">
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Имя</p>
            </div>

            {% for client in clients %}
                <div class="flex just-between">
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">
                        <a href="{%url 'clients_detail' client.id%}">{{ client.name }}</a>
                    </p>
                </div>
            {%endfor%}
        {%else%}
            <p class="mt-5 px-2">Здесь пока никого нет</p>
        {%endif%}
    </div>
{% endblock %}
