{% extends 'core/base.html' %}

{% block title %} Диалог {% endblock %}

{% block content %}
<div class="bg-no-repeat bg-cover bg-center h-screen" style="background-image: url('https://phonoteka.org/uploads/posts/2021-04/1618314252_5-phonoteka_org-p-oblaka-fon-6.jpg');">
    <div class = "py-6 px-6">
        <h1 class="text-xl"> Изменить </h1>

        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="py-4 px-8 bg-teal-500 text-white rounded-xl">Отправить</button>
        </form>
    </div>


{% endblock %}