{% extends 'core/base.html'%}

{%block title%}{{lead.name}}}{%endblock%} 

{% block content %}
    <div class="py-4 px-6">
        <h1 class="mb-4 text-xl font-semibold w-full">{{ lead.name }}</h1>

        {% if lead.description %}
            <p class="font-semibold">Описание</p>
            <p class="mb-2"> {{ lead.description }}</p>
        {% endif %}

        <p class="font-semibold">Почта</p>
        <p class="mb-2"> {{ lead.email }}</p>

        <p class="font-semibold">Приоритет</p>
        <p class="mb-2"> {{ lead.get_priority_display }}</p>

        <p class="font-semibold">Статус</p>
        <p class="mb-2"> {{ lead.get_status_display }}</p>

        <p class="font-semibold">Создан</p>
        <p class="mb-2"> {{ lead.created_at|date:"d-M-Y H:i" }}</p>

        <p class="font-semibold">Изменён</p>
        <p class="mb-6"> {{ lead.modified_at|date:"d-M-Y H:i" }}</p>
        
        <hr class="my-4">

        <a href="{% url 'convert_to_client' lead.id %}" class="py-2 px-4 rounded-xl bg-gray-800 text-white">Конвертировать</a>
        <a href="{% url 'leads_edit' lead.id %}" class="py-2 px-4 rounded-xl bg-blue-400 text-white">Изменить</a>
        <a href="{% url 'leads_delete' lead.id %}" class="py-2 px-4 rounded-xl bg-red-600 text-white">Удалить заявку</a>

        <hr class="my-4">

        <a href="{% url 'leads_list' %}">Назад</a>
    </div>
{% endblock %}