{% extends 'core/base.html'%}

{%block title%}BAlDR CRM{%endblock%}

{% block content %}
<div class="py-4 px-6">

    <!DOCTYPE html>
<html>
<!-- служебная часть -->

<head>
  <!-- заголовок страницы -->
  <title>Михаил Максимов — преподаватель информатики</title>
  <!-- настраиваем служебную информацию для браузеров -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- загружаем Бутстрап -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">
    img {
      max-width: 100%;
      max-height: 100%;
    }

    h1 {
      font-size: 50px;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    h2 {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Baldr Team</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Мы - команда BaldrCRM, занимаемся разработкой и внедрением систем управления взаимоотношениями с клиентами для компаний всех размеров и отраслей.
            Наша команда состоит из высококвалифицированных специалистов, которые имеют богатый опыт работы в области CRM. Мы знаем, как создавать индивидуальные решения, которые помогают нашим клиентам улучшить свои бизнес-процессы, повысить эффективность работы и увеличить прибыль.
            </p>
        <p>Мы понимаем, что каждая компания уникальна, поэтому мы всегда уделяем особое внимание потребностям каждого нашего клиента. Мы не стремимся к продажам, мы стремимся к созданию долгосрочных отношений с нашими клиентами, чтобы помогать им в их развитии и росте.
            Наша команда не только разрабатывает и внедряет системы CRM, но и предоставляет обучение и консультации по использованию системы. Мы поддерживаем наших клиентов на протяжении всего срока сотрудничества и готовы решать любые вопросы, которые могут возникнуть.
            Мы уверены, что наша команда CRM - это то, что нужно вашей компании для улучшения ваших бизнес-процессов и повышения эффективности работы. Свяжитесь с нами, чтобы узнать больше о том, как мы можем помочь вам достичь ваших целей.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="https://sun3-18.userapi.com/impg/LvcAmd8lbbGaoQpaNNQ62kci_miIKP5syqa1wg/lMK8WRcdEKs.jpg?size=1000x500&quality=95&sign=c716f17985818093f1ada688f371861e&type=album">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Контакты для связи</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Телефон: +7 (961) 643-70-50</p>
        <p>Телефон: +7 (996) 694-03-91</p>
        <p>Почта: <a href="mailto: rdana743@yahoo.com">rdana743@yahoo.com</a></p>
        <p>Телеграм: @rdana743</p>
        <p>Телеграм: @hochukapustu</p>
      </div>
    </div>
  </div>
</body>
<!-- конец всей страницы -->

</html>
</div>
{% endblock %}

